.users {
    margin-left: 250px;
    /* 사이드바가 차지하는 너비만큼 여백 추가 */
    padding: 20px;
    width: calc(100% - 250px);
    /* 나머지 공간을 content에 할당 */
}

.title {
    display: flex;
    width: 80%;
    margin: 20px auto;
}

.user-list {
    background-color: white;
    width: 80%;
    margin: 20px auto;
}

.search-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 65%;
    margin: 20px auto;
}

/* 검색바 스타일 */
.search-bar {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    padding: 10px 0px;
    width: 90%;
    margin: 20px auto;
    border: 1px solid #ddd;
}

/* 검색 아이콘 스타일 */
.search-icon {
    font-size: 18px;
    color: #888;
    margin: 0px 10px;
}

/* 검색 입력 필드 스타일 */
.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    width: 100%;
    color: #555;
}

/* 플레이스홀더 스타일 */
.search-bar input::placeholder {
    color: #ccc;
}

.add-user-button {
    background-color: #e3f2fd;
    color: #1976d2;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.add-user-button:hover {
    background-color: #bbdefb;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    outline: 2px dashed green;
    width: 100%;
    margin-bottom: 1rem;
    /* 추가 */
}

.pagination button {
    background: none;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s ease-in-out;
}

.pagination button.active {
    font-weight: bold;
}

.pagination button:disabled {
    cursor: not-allowed;
}

/* 닫기 버튼 */
.close-modal {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* 입력 필드 컨테이너 */
.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

/* 비밀번호 토글 버튼 */
.password-toggle {
    position: absolute;
    right: 12px;
    cursor: pointer;
    color: #999;
    font-size: 16px;
}