.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  margin-top: 60px;
  /* 헤더 높이만큼 여백 추가 */
  height: calc(100vh - 60px);
  /* 전체 높이에서 헤더 높이 빼기 */
}

/* 사이드바 스타일 */
.sidebar {
  margin-top: 60px;
  width: 250px;
  height: 100%;
  background-color: #f4f4f4;
  padding: 20px;
}

/* 콘텐츠 스타일 */
.contents {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}

/* 전역 폰트 설정 */
* {
  font-family: 'Pretendard-Regular';
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-style: normal;
}